<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_custom_field_checkout_form" type="SV\Address\Plugin\Checkout\SaveAddressInformation" sortOrder="100"/>
    </type>

<!--    <type name="Magento\Checkout\Model\ShippingInformationManagement">-->
<!--        <plugin name="save_custom_field" type="SV\Address\Plugin\Checkout\SaveAddress" />-->
<!--    </type>-->

<!--    <type name="Magento\Quote\Model\Quote\Address\BillingAddressPersister">-->
<!--        <plugin disabled="false" name="BillingAddressSave" sortOrder="10" type="SV\Address\Plugin\Magento\Quote\Model\Quote\Address\BillingAddressPersister"/>-->
<!--    </type>-->

        <type name="Magento\Quote\Model\BillingAddressManagement">
            <plugin disabled="false" name="SV_Plugin_Magento_Quote_Model_BillingAddressManagement" sortOrder="10"
                    type="SV\Address\Plugin\Magento\Quote\Model\BillingAddressManagement"/>
        </type>
        <type name="Magento\Quote\Model\ShippingAddressManagement">
            <plugin disabled="false" name="SV_Plugin_Magento_Quote_Model_ShippingAddressManagement" sortOrder="10"
                    type="SV\Address\Plugin\Magento\Quote\Model\ShippingAddressManagement"/>
        </type>
<!-- need to check-->
<!--    <type name="Magento\Checkout\Model\PaymentInformationManagement">-->
<!--        <plugin name="set_payment_data_before_save"-->
<!--                type="SV\Address\Plugin\Magento\Model\SavePaymentPlugin" sortOrder="10"/>-->
<!--    </type>-->

</config>
